@import "reset";
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700|Raleway);

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

DEFAULTS

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

$purple: #241960;
$magenta: #bb2255;
$azure: #e2eef7;

body {
  background: $azure;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  line-height: 20pt;
  color: $purple;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}


/* BREAKPOINT: 600px */

@media (min-width: 600px) {
  body {
    font-size: 16pt;
    line-height: 24pt;
  }
}


/* BREAKPOINT: 960px */

@media (min-width: 960px) {
  body {
    font-size: 18px;
  }
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

HEADER

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

header {
  background: $purple;
}

.header-content {
  height: 158px;
}

.header-content > .context {
  > small {
    display: inline-block;
    padding: 4px 8px;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
    font-weight: bold;
    color: $magenta;
  }

  > :first-child {
    float: left;
  }

  > :last-child {
    float: right;
  }
}

.header-content > p {
  width: 366px;
  margin: 15px auto 0 auto;
  font-size: 20pt;
  letter-spacing: 0.5px;
  line-height: 30pt;
  text-align: center;
  color: $azure;
}

header {
  padding-bottom: 60px;
}

header > .navigation {
  border: solid $azure;
  border-width: 2px 0;
  margin-bottom: -60px;

  > li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    background: $purple;
  }

  > :first-child {
    border-right: 1px solid $azure;
  }

  > :last-child {
    border-left: 1px solid $azure;
  }

  > .selected {
    background: $magenta;
  }
}

header > .navigation.fixed {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

header > .navigation > li > a {
  display: block;
  padding: 12px 0;
  font-size: 12pt;
  line-height: 24pt;
  font-weight: bold;
  letter-spacing: 3px;
  color: $azure;
  text-align: center;
}


/* BREAKPOINT: 600px */

@media (min-width: 600px) {
  .header-content > .context {
    > small {
      padding: 8px 16px;
      font-size: 18pt;
    }
  }

  .header-content > p {
    width: 466px;
    margin-top: 0;
    font-size: 24pt;
    line-height: 32pt;
    letter-spacing: 1.5px;
  }

  header > .navigation > li > a {
    font-size: 16pt;
  }
}


/* BREAKPOINT: 960px */

@media (min-width: 960px) {
  .header-content {
    height: 238px;
  }

  .header-content > .context {
    > small {
      padding: 16px 32px;
      font-size: 28px;
    }
  }

  .header-content > p {
    width: 700px;
    font-size: 34pt;
    line-height: 42pt;
    margin-top: 20px;
  }

  header > .navigation > li > a {
    font-size: 18pt;
    letter-spacing: 5px;
  }
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

MAIN

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

main {
  margin: 12px 0;
}

main > .social-media {
  margin: 16px 20px;
}

main > .social-media > li {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  padding: 0 8%;
  border-radius: 3px;
}

main > .social-media > li:hover {
  background: $magenta;
}

main > .social-media > li > a {
  display: block;
  padding: 4px 0;
}

main > h1 {
  display: block;
  padding: 24px 0;
  margin-bottom: 24px;
  letter-spacing: 3px;
  font-family: 'Josefin Slab', serif;
  font-size: 28pt;
  text-align: center;
  background: $purple;
  color: $azure;
}


/* BREAKPOINT: 600px */

@media (min-width: 600px) {
  main > .social-media > li {
    padding: 0 12%;
  }
}


/* BREAKPOINT: 960px */

@media (min-width: 960px) {
  main {
    padding: 0.1px
  }

  main > .social-media {
    position: absolute;
    right: 40px;
    margin: 0 20px;
    width: 240px;
    border-radius: 3px;
    background: $azure;
  }

  main > .social-media > li {
    padding: 4%;
  }

  main > h1 {
    margin: 40px 0 80px 0;
  }
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

ABOUT

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

main > .biography {
  margin: 0 20px;
}

main > .biography > p {
  margin: 16px 0;
}

main > .biography > .my-photo {
  float: right;
  width: 146px;
  border: 2px solid $magenta;
  border-radius: 50%;
  margin: 18px;
}


/* BREAKPOINT: 600px */

@media (min-width: 600px) {
  main > .biography {
    margin: 0 60px;
  }

  main > .biography > .my-photo {
    width: 220px;
  }
}


/* BREAKPOINT: 960px */

@media (min-width: 960px) {
  main > .biography {
    margin: 0 100px;
    font-size: 18pt;
    line-height: 32pt;
  }

  main > .biography > .my-photo {
    width: 280px;
  }
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

PORTFOLIO

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

main > .projects-list {
  margin: 0 20px;
}

main > .projects-list > li {
  margin-bottom: 24px;
}

main > .projects-list > li > h2 {
  display: block;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 20pt;
  padding: 6px 24px;
  margin-bottom: 6px;
  border-bottom: 2px solid $purple;
}

main > .projects-list > li > h2 > a {
  display: block;
  float: right;
  position: relative;
  top: -6px;
  margin: 0 6px;
  padding: 4px 8px 2px 8px;
  font-size: 14pt;
  color: $azure;
  background: $purple;
  border-radius: 3px;
}

main > .projects-list > li > h2 > a:hover {
  background: $magenta;
}

main > .projects-list > li > .project-content {
  width: 80%;
  margin: 12px auto;
}

main > .projects-list > li > .project-content > img {
  margin: 12px 0;
  border: 2px solid $magenta;
  border-radius: 3px;
}

main > .projects-list > li > .project-content > p {
  text-align: center;
}


/* BREAKPOINT: 600px */

@media (min-width: 600px) {
  main > .projects-list {
    margin: 0 60px;
  }
}


/* BREAKPOINT: 960px */

@media (min-width: 960px) {
  main > .projects-list {
    box-sizing: border-box;
  }

  main > .projects-list > li {
    float: left;
    width: 47.5%;
  }

  main > .projects-list > li:nth-child(2n + 1) {
    margin-right: 5%;
  }
}
